[Unit]
Description=Join FreeIPA Domain
After=syslog.target network.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/sbin/ipa-client-install --mkhomedir --principal ${IPA_USER} --password ${IPA_PASSWORD} --force-join --unattended || :
ExecStartPost=/bin/sh -c "systemctl unset-environment IPA_PASSWORD IPA_USER"

[Install]
WantedBy=multi-user.target
