[Unit]
Description=The Keycloak Server
After=syslog.target network.target
Before=httpd.service

[Service]
Type=simple
Environment=JAVA_HOME=/usr/lib/jvm/java
Environment=KEYCLOAK_VERSION=5.0.0
Environment=JDBC_POSTGRES_VERSION=42.2.5
Environment=JDBC_MYSQL_VERSION=5.1.46
Environment=JDBC_MARIADB_VERSION=2.2.3
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
Environment=PROXY_ADDRESS_FORWARDING=false
Environment=JBOSS_HOME=/opt/jboss/keycloak
Environment=LANG=en_US.UTF-8
EnvironmentFile=-/etc/sysconfig/keycloak

User=jboss
Group=jboss
LimitNOFILE=102642
PermissionsStartOnly=true
ExecStartPre=/opt/jboss/keycloak/bin/keycloak.sh
EnvironmentFile=-/etc/sysconfig/keycloak
ExecStart=/opt/jboss/keycloak/bin/standalone.sh -Djboss.bind.address=0.0.0.0 -Djboss.bind.private.address=0.0.0.0 -Dkeycloak.import=${KEYCLOAK_IMPORT}

[Install]
WantedBy=multi-user.target
